{%- doc -%}
  Renders a background image

  @param {object} background_image - The background image
  @param {string} background_image_position - The background image position
  @param {object} [block] - The block object
  @param {object} [section] - The section object
  @param {string} [placeholder] - The placeholder

  @example
  {% render 'background-image', background_image: background_image, background_image_position: background_image_position, block: block, section: section %}
{%- enddoc -%}

<div
  class="background-image-container{% if background_image_position == 'fit' %} background-image-fit{% endif %}"
>
  {% liquid
    # Define sizes based on page width setting whether this is called from a section or block

    if block.settings
      if section.settings.section_width == 'full-width'
        assign sizes = '100vw'
      else
        case settings.page_width
          when 'narrow'
            # Narrow: max 90rem (1440px)
            assign sizes = '(min-width: 1440px) 1440px, 100vw'
          when 'normal'
            # Normal: max 120rem (1920px)
            assign sizes = '(min-width: 1920px) 1920px, 100vw'
          when 'wide'
            # Wide: max 150rem (2400px)
            assign sizes = '(min-width: 2400px) 2400px, 100vw'
          else
            # Fallback to full width
            assign sizes = '100vw'
        endcase
      endif
    else
      assign sizes = '100vw'
    endif

    assign widths = '832, 1200, 1600, 1920, 2560, 3840'
  %}

  {%- if background_image != blank -%}
    {% liquid
      assign fetch_priority = 'auto'
      assign loading = 'lazy'
      if section and section.index == 1
        assign fetch_priority = 'high'
      endif

      if section and section.index <= 3
        assign loading = 'eager'
      endif
    %}
    {{
      background_image
      | image_url: width: 3840
      | image_tag: sizes: sizes, widths: widths, loading: loading, fetchpriority: fetch_priority
    }}
  {%- else -%}
    {%- assign placeholder_name = placeholder | default: 'hero-apparel-2' -%}
    {%- if placeholder_name == blank -%}
      {%- assign placeholder_name = 'hero-apparel-2' -%}
    {%- endif -%}
    {{ placeholder_name | placeholder_svg_tag }}
  {%- endif -%}
</div>
